:root {
  color: #2196f3;
}

body {
  width: 1600px;
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.global-header {
  width: 1600px;
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-container {
  margin-left: 93px;
}

.global-header {
  border-bottom: 1px solid #ececec;
}

.main-navigation {
  display: flex;
  gap: 50px;
  padding-left: 0px;
}

.contact-container {
  margin-left: 385px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-left: 0px;
}

.logo {
  text-decoration: none;
  margin-left: 200px;
}

.web {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.studio {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.contacts {
  text-decoration: none;
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.current {
  color: var(--active-link);
}

a:hover,
a:active {
  color: var(--active-link);
}

.title-main {
  width: 1600px;
  height: 600px;
  flex-shrink: 0;
  background: #2f303a;
  align-items: center;
}

h1 {
  width: 696px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin: auto;
  padding-top: 200px;
}

.btn-request {
  text-align: center;
}

.button-request {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: unset;
  padding: 10px 19px 10px 20px;
  margin-top: 40px;
}

.button-request:hover {
  cursor: pointer;
  background-color: #188ce8;
}

.btn-filter {
  height: 38px;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  padding: 6px 22px;
  letter-spacing: 0.48px;
  border: unset;
  border-radius: 4px;
  background: #F5F4FA;
}

.btn-filter:hover {
  font-family: inherit;
  color: #fff;
  background: #2196f3;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.48px;
  cursor: pointer;
  border: unset;
}

.btn-filter:focus {
  font-family: inherit;
  color: #fff;
  background: #2196f3;
}

h2 {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.our-team h2 {
  width: auto;
  margin: 0px auto 0px auto;
  padding-top: 94px;
}

.what-we-do-container {
  padding: 0px;
  width: 1200px;
  gap: 30px;
  margin: 94px auto auto;
}

.what-we-do h3 {
  width: 270px;
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.what-we-do span {
  width: 270px;
  height: 75px;
  flex-shrink: 0;
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}

.wwd-photo {
  width: 1200px;
  margin: 94px auto auto;
}

.wwd-photo h2 {
  width: 1170px;
  align-content: center;
  margin: auto auto 50px auto;
}

.our-team {
  height: 648px;
  background: #f5f4fa;
  margin-top: 94px;
}

.card-team p {
  text-align: center;
}

.card-team {
  width: 270px;
  height: 368px;
  flex-shrink: 0;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  margin-top: 50px;

  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.our-team h3 {
  color: #212121;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.our-team p {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.footer {
  height: 251px;
  background: #2f303a;
}

footer .studio {
  color: #fff;
}

footer .logo {
  margin-left: 200px;
  padding-bottom: 28px;
  margin-top: 60px;
}

.footer div {
  padding-top: 60px;
}

.address a {
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.42px;
  text-decoration: none;
  margin-left: 200px;
  margin-top: 28px;
}

.address span {
  flex-shrink: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
  margin-left: 200px;
  margin-top: 28px;
}

.photo-filter h3 {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  /* 200% */
  letter-spacing: 1.08px;
}

.photo-filter p {
  width: 322px;
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.48px;
}

.address a:focus {
  color: #2196f3;
}

.product-container {
  width: 1200px;
  margin: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.photo-filter-list {
  width: 370px;
  height: 404px;
  flex-shrink: 0;
}

.photo-filter-list h3 {
  width: 322px;
  margin: 0px 24px 4px 24px;
  padding-top: 20px;
}

.photo-filter-list p {
  width: 322px;
  margin: 4px 24px auto 24px;
  
}

.photo-filter-list {
  width: 370px;
  height: 404px;
  flex-shrink: 0;

  border-top: none;
  background: #fff;
  margin-right: 0px;
}

.photo-filter {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  padding-left: 0px;
  gap: 45px;
}

.card-img {
  width: 370px;
  height: 110px;
  border: 1px solid #eee;
  border-top: 0px
}
.card-img-top {
  width: 370px;
  height: 294px;
}
.buton-product {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-left: 0px;
  margin-bottom: 50px;
  margin-top: 0px;
}

.what-we-do-container {
  display: flex;
}

.what-we-do-photos {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.our-team-container {
  width: 1200px;
  margin: auto;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

footer div .address {
  margin-top: 28px;
}

